$currency-codes:
  "bc1",
  "btc",
  "dgc",
  "dog",
  "drk",
  "ftc",
  "hbn",
  "ixc",
  "ltc",
  "mec",
  "nbt",
  "net",
  "nmc",
  "nsr",
  "nvc",
  "nxt",
  "ppc",
  "rdd",
  "sj1",
  "trc",
  "via",
  "vrc",
  "vtc",
  "wdc",
  "xpm",
  "xrp";

@mixin currency-label-background($code) {
  @if $code == "bc1" { background-image: url('../images/currencies/blackcoin.png'); }
  @if $code == "btc" { background-image: url('../images/currencies/bitcoin.png'); }
  @if $code == "dgc" { background-image: url('../images/currencies/digitalcoin.png'); }
  @if $code == "dog" { background-image: url('../images/currencies/dogecoin.png'); }
  @if $code == "drk" { background-image: url('../images/currencies/darkcoin.png'); }
  @if $code == "ftc" { background-image: url('../images/currencies/feathercoin.png'); }
  @if $code == "hbn" { background-image: url('../images/currencies/hobonickels.png'); }
  @if $code == "ixc" { background-image: url('../images/currencies/ixcoin.png'); }
  @if $code == "ltc" { background-image: url('../images/currencies/litecoin.png'); }
  @if $code == "mec" { background-image: url('../images/currencies/megacoin.png'); }
  @if $code == "nbt" { background-image: url('../images/currencies/nubits.png'); }
  @if $code == "net" { background-image: url('../images/currencies/netcoin.png'); }
  @if $code == "nmc" { background-image: url('../images/currencies/namecoin.png'); }
  @if $code == "nsr" { background-image: url('../images/currencies/nushares.png'); }
  @if $code == "nvc" { background-image: url('../images/currencies/novacoin.png'); }
  @if $code == "nxt" { background-image: url('../images/currencies/nxt.png'); }
  @if $code == "ppc" { background-image: url('../images/currencies/peercoin.png'); }
  @if $code == "rdd" { background-image: url('../images/currencies/reddcoin.png'); }
  @if $code == "sj1" { background-image: url('../images/currencies/storjcoin.png'); }
  @if $code == "trc" { background-image: url('../images/currencies/terracoin.png'); }
  @if $code == "via" { background-image: url('../images/currencies/viacoin.png'); }
  @if $code == "vrc" { background-image: url('../images/currencies/vericoin.png'); }
  @if $code == "vtc" { background-image: url('../images/currencies/vertcoin.png'); }
  @if $code == "wdc" { background-image: url('../images/currencies/worldcoin.png'); }
  @if $code == "xpm" { background-image: url('../images/currencies/primecoin.png'); }
  @if $code == "xrp" { background-image: url('../images/currencies/ripple.png'); }
}

@mixin explorer-label-background($code) {
  @if $code == "bc1" { background-image: url('../images/explorers/blackchain.png'); }
  @if $code == "btc" { background-image: url('../images/explorers/blockchain.png'); }
  @if $code == "dgc" { background-image: url('../images/explorers/blockr.png'); }
  @if $code == "dog" { background-image: url('../images/explorers/dogechain.png'); }
  @if $code == "drk" { background-image: url('../images/explorers/darkcoin.png'); }
  @if $code == "ftc" { background-image: url('../images/explorers/feathercoin.png'); }
  @if $code == "hbn" { background-image: url('../images/explorers/cryptocoinexplorer.png'); }
  @if $code == "ixc" { background-image: url('../images/explorers/abe.png'); }
  @if $code == "ltc" { background-image: url('../images/explorers/abe.png'); }
  @if $code == "mec" { background-image: url('../images/explorers/blockr.png'); }
  @if $code == "nbt" { background-image: url('../images/explorers/nuexplorer.png'); }
  @if $code == "net" { background-image: url('../images/explorers/abe.png'); }
  @if $code == "nmc" { background-image: url('../images/explorers/abe.png'); }
  @if $code == "nsr" { background-image: url('../images/explorers/nuexplorer.png'); }
  @if $code == "nvc" { background-image: url('../images/explorers/novacoin.png'); }
  @if $code == "nxt" { background-image: url('../images/explorers/mynxt.png'); }
  @if $code == "ppc" { background-image: url('../images/explorers/blockr.png'); }
  @if $code == "rdd" { background-image: url('../images/explorers/reddsight.png'); }
  @if $code == "sj1" { background-image: url('../images/explorers/blockscan.png'); }
  @if $code == "trc" { background-image: url('../images/explorers/coinplorer.png'); }
  @if $code == "via" { background-image: url('../images/explorers/viacoin.png'); }
  @if $code == "vrc" { background-image: url('../images/explorers/chainz.png'); }
  @if $code == "vtc" { background-image: url('../images/explorers/abe.png'); }
  @if $code == "wdc" { background-image: url('../images/explorers/worldcoin.png'); }
  @if $code == "xpm" { background-image: url('../images/explorers/coinplorer.png'); }
  @if $code == "xrp" { background-image: url('../images/explorers/ripplecharts.png'); }
}
