$currency-codes:
  "btc",
  "ltc",
  "bc1",
  "dgc",
  "dog",
  "drk",
  "ftc",
  "hbn",
  "ixc",
  "mec";

@mixin currency-label-background($code) {
  @if $code == "btc" { background-image: url('../images/currencies/bitcoin.png'); }
  @if $code == "ltc" { background-image: url('../images/currencies/litecoin.png'); }
  @if $code == "bc1" { background-image: url('../images/currencies/blackcoin.png'); }
  @if $code == "dgc" { background-image: url('../images/currencies/digitalcoin.png'); }
  @if $code == "dog" { background-image: url('../images/currencies/dogecoin.png'); }
  @if $code == "drk" { background-image: url('../images/currencies/darkcoin.png'); }
  @if $code == "ftc" { background-image: url('../images/currencies/feathercoin.png'); }
  @if $code == "hbn" { background-image: url('../images/currencies/hobonickels.png'); }
  @if $code == "ixc" { background-image: url('../images/currencies/ixcoin.png'); }
  @if $code == "mec" { background-image: url('../images/currencies/megacoin.png'); }
}

@mixin explorer-label-background($code) {
  @if $code == "btc" { background-image: url('../images/explorers/blockchain.png'); }
  @if $code == "ltc" { background-image: url('../images/explorers/abe.png'); }
  @if $code == "bc1" { background-image: url('../images/explorers/blackchain.png'); }
  @if $code == "dgc" { background-image: url('../images/explorers/blockr.png'); }
  @if $code == "dog" { background-image: url('../images/explorers/dogechain.png'); }
  @if $code == "drk" { background-image: url('../images/explorers/darkcoin.png'); }
  @if $code == "ftc" { background-image: url('../images/explorers/feathercoin.png'); }
  @if $code == "hbn" { background-image: url('../images/explorers/hobonickels.png'); }
  @if $code == "ixc" { background-image: url('../images/explorers/abe.png'); }
  @if $code == "mec" { background-image: url('../images/explorers/blockr.png'); }
}
