.explorer_name {
  &.explorer_btc,
  &.explorer_ltc,
  &.explorer_bc1,
  &.explorer_dgc,
  &.explorer_dog,
  &.explorer_drk,
  &.explorer_ftc {
    padding-left: 20px;
  }
}

.btc_address .inspect, .explorer_name.explorer_btc {
  background: url('../images/explorers/blockchain.png') top left no-repeat;
  background-size: 16px 16px;
}

.ltc_address .inspect, .explorer_name.explorer_ltc {
  background: url('../images/explorers/litecoin.png') top left no-repeat;
  background-size: 16px 16px;
}

.bc1_address .inspect, .explorer_name.explorer_bc1 {
  background: url('../images/explorers/blackchain.png') top left no-repeat;
  background-size: 16px 16px;
}

.dgc_address .inspect, .explorer_name.explorer_dgc {
  background: url('../images/explorers/blockr.png') top left no-repeat;
  background-size: 16px 16px;
}

.dog_address .inspect, .explorer_name.explorer_dog {
  background: url('../images/explorers/dogechain.png') top left no-repeat;
  background-size: 16px 16px;
}

.drk_address .inspect, .explorer_name.explorer_drk {
  background: url('../images/explorers/darkcoin.png') top left no-repeat;
  background-size: 16px 16px;
}

.ftc_address .inspect, .explorer_name.explorer_ftc {
  background: url('../images/explorers/feathercoin.png') top left no-repeat;
  background-size: 16px 16px;
}

.hbn_address .inspect, .explorer_name.explorer_hbn {
  background: url('../images/explorers/hobonickels.png') top left no-repeat;
  background-size: 16px 16px;
}
