.explorer_name {
  &.explorer_btc,
  &.explorer_ltc,
  &.explorer_bc1,
  &.explorer_dgc {
    padding-left: 20px;
  }
}

.btc_address .inspect, .explorer_name.explorer_btc {
  background: url('../images/explorers/blockchain.png') top left no-repeat;
  background-size: 16px 16px;
}

.ltc_address .inspect, .explorer_name.explorer_ltc {
  background: url('../images/explorers/litecoin.png') top left no-repeat;
  background-size: 16px 16px;
}

.bc1_address .inspect, .explorer_name.explorer_bc1 {
  background: url('../images/explorers/blackchain.png') top left no-repeat;
  background-size: 16px 16px;
}

.dgc_address .inspect, .explorer_name.explorer_dgc {
  background: url('../images/explorers/blockr.png') top left no-repeat;
  background-size: 16px 16px;
}
